* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
}

.background {
  background-image:  url('./assets/background/shopibag-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
}

.popup-animate {
  animation: popup 0.7s ease-in forwards; 
}


@keyframes moving {
  0% {
    transform: translateX(10px);
  } 50% {
    transform: translateX(-10px);
  } 100% {
    transform: translateX(10px)
  }
}

.loader {
      width: 50px;
      aspect-ratio: 1;
      display: grid;
      animation: l14 4s infinite;
    }
    .loader::before,
    .loader::after {    
      content: "";
      grid-area: 1/1;
      border: 8px solid;
      border-radius: 50%;
      border-color: red red #0000 #0000;
      mix-blend-mode: darken;
      animation: l14 1s infinite linear;
    }
    .loader::after {
      border-color: #0000 #0000 #0055ffd3 #0011ff;
      animation-direction: reverse;
    }
    @keyframes l14{ 
      100%{transform: rotate(1turn)}
    }